@page
@model RazorPageApp.Pages.AboutModel

@{ 
    ViewData["Title"] = "About";
}


<h2>Om mig</h2>
<p>Mitt namn är Hillevi Annfält och läser för tillfället programmet Webbutveckling 120hp på Mittuniversitete i Sundsvall. Här kan man se en lista de <a href="/Razor">kurser</a> som lästes under första läsåret. </p>
<p>Jag kan programmera i språken HTML, CSS, JavaScript, PHP, SQL och C# och tycker framför allt att back-end utveckling är det som är roligast. </p>


