@page
@model RazorPageApp.Pages.IndexModel
@{
    ViewData["Title"] = "Startsidan";
}

<h1>Välkommen</h1>
<p>Detta är min allra första RazorPage sida. Den är byggd med C# och ASP.Net Core och innehåller enklare funktionalitet. Tex så finns en lista med kurser som läses ut från en array och en if-sats som kontrollerar om det är måndag. </p>

