/*RESET*/
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
p {
    margin-bottom: 8px;
}

/*Basic styling*/
h1, h2, h3 {
    margin: 15px 0;
}
body {
    font-family: Roboto;
}

.logo {
    letter-spacing: 0.025em;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
}

header {
    width: 94%;
    padding: 20px 3%;
    background-color: #001B3B;
    grid-area: 1/1/2/5;
    display: flex;
    color: #FFF;
    justify-content: space-between;
    margin-bottom: 30px;
}
header p {
    margin-right: 100px; 
}

/*Menu*/
nav {
    grid-area: 2/1/2/2;
    padding: 0 5%;
}

nav li {
     margin-bottom: 9px;
     text-transform: uppercase;
}

li a {
    text-decoration: none;
    color: #001B3B;
}

    li a:hover {
        color: grey;
    }

/*Mobilemenu*/
#navButton {
    position: fixed;
    top: 0px;
    right: 0;
    padding: 10px;
    display: none;
    z-index: 2;
}
.burger {
    width: 35px;
    height: 4px;
    background-color: #FFF;
    margin-top: 7px;
    border-radius: 3px;
}

#hiddenNav {
    width: 100%;
    background-color: #001B3B;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    display: none;
    text-align: center;
    padding: 20px 0;
  
}
#hiddenNav ul li {
    margin-bottom: 20px;
}

    #hiddenNav ul li a {
        color: #FFF;
    }
#hiddenNav ul li a:hover {
    color: orange;
}
            

main {
    width: 80%;
    grid-area: 2/2/3/5;
}

footer {
    grid-area: 3/1/4/5;
    background-color: #001B3B;
    text-align: center;
    padding: 20px;
    color: #FFF;
    margin-top: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;

}

/* Media Quieries*/

@media only screen and (max-width: 600px) {
    .mainNav {
        display: none;
    }

    #navButton {
        display: block;
    }

    main {
        width: 94%;
        padding: 0 3%;
        margin: 0 auto;
        grid-area: 2/1/3/5;
    }
}


